* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  margin: 0 auto;
  text-align:center;
  padding: 20px;

}

nav{
  border-bottom:2px solid black;
  border-top:2px solid black;
  display: flex;
  justify-content:center;
  padding:15px;
}

nav p{
 margin:0 20px 0 20px;
}

main{
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

main p{
  height: 200px;
  width: 200px;
  background-color: red;
}

.a{
  background-color: #e6ffe9;
}

.b{
  background-color: #cdffe3;
}
.c{
  background-color: #aeffbd;
}
.d{
  background-color: #93ffab;
}

.e{
  background-color: #f3ffd8;
}
.f{
  background-color: #edffbe;
}
.g{
  background-color: #e9ffa5;
}
.h{
  background-color: #e4ff8d;
}

.i{
  background-color: #d9e5ff;
}
.j{
  background-color: #bad3ff;
}
.k{
  background-color: #a4c6ff;
}
.l{
  background-color: #8eb8ff;
}

footer{
  text-align: center;
  line-height: 120px;
  height: 120px;
  color:white;
  background-color: gray;
}